
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
  background: #1b2838;
  color: #acb2b8;
  overflow: hidden;
  height: 100vh;
  font-size: 12px;
  line-height: 16px;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #1b2838;
}
